.legend_btn {
    float: right;
    position: relative;
    margin:0 auto;
}

.div_legend_btn {
    padding: 20px;
}

.h5_dropdown {
    width: 98%;
    margin: 0 auto;
}

.h5_update_data_label {
    text-align: right;
    padding: 0 20px;
}

.backgrd_color {
    background: #ebecf1;
}

.modal_head {
    text-align: center;
}